.error-bg{
    background-image: url(../../../assets/image/404-page-animation-example.gif);
    background-position: center center;

    height: 100vh;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}